/* Write your CSS here */
.popupslit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn {
  align-self: flex-end;
  background-color: none;
  border: none;
}
.player1 {
  width: 100%;
}
